<!---Settings TAB lauout-2-->
<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
      <ion-title>Meesho Returns</ion-title>
  </ion-navbar>
 
</ion-header>
<ion-content tabPage2>
  <h3 *ngIf="clientDetails.length>0" class="highlightresults" text-center>{{clientDetails}}</h3>
    <form>
  <ion-row>
      <ion-col col-8>
        <ion-item>
            <ion-label floating>SubOrder Id *</ion-label>
            <ion-input  (ionBlur)="getSubOrderIdDetails()" required type="text" [(ngModel)]="meeshoDto.SuborderId" name="SuborderId"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-4> 
          <button class="scanButton" ion-button block (click)="scanSubOrder()">Scan</button>  
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-8>
          <ion-item>
              <ion-label floating>Reverse Label Id *</ion-label>
              <ion-input type="tel" [(ngModel)]="meeshoDto.ReverseLabelId" name="reverseLabel"></ion-input>
              <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label> -->
          </ion-item>
        </ion-col>
        <ion-col col-4> 
            <button class="scanButton" ion-button block (click)="scanReverseLabel()">Scan</button>  
        </ion-col>
        <ion-col col-5>
        <ion-item>
          <ion-label floating>Return Date</ion-label> 
          <ion-datetime   [placeholder]="meeshoDto.DateOfReturn" [(ngModel)]="meeshoDto.DateOfReturn" [ngModelOptions]="{standalone: true}"></ion-datetime>
          <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label> -->
      </ion-item>
    </ion-col>
    <ion-col col-7>
      <ion-item>
        <ion-label floating>Select Return Type</ion-label>
        <ion-select [(ngModel)]="meeshoDto.ReturnType" name="options" multiple="false">
            <ion-option value="CR">Correct Return</ion-option>
            <ion-option value="RTO">RTO</ion-option> 
            <ion-option value="WP">Wrong Product</ion-option>
            <ion-option value="IM">Item Missing</ion-option>
        </ion-select>
    </ion-item>
  </ion-col>
      </ion-row>
         
      <ion-row>
          <ion-col col-5>
              <ion-item>
                  <ion-label>Show</ion-label>
                  <ion-toggle [(ngModel)]="showReturnList" name="showReturnList"></ion-toggle>
                </ion-item>
          </ion-col>
          <ion-col col-7>
      <button ion-button  block (click)="saveReturns()">Save Returns</button>
    </ion-col>
      </ion-row>

    </form>
    <div *ngIf="meeshoDto.ReturnType!='CR' && meeshoDto.ReturnType!='RTO'">
    <button default-button round ion-button (click)="sendEmail()">Send Email</button>
    <button default-button round ion-button (click)="captureImage()">Capture</button>
   

    <ion-card>
        <ion-card-header>Product Images</ion-card-header>
        <ion-row>
          <ion-col col-6 *ngFor="let currentItem of currentImageList">
                <ion-card-content>
                    <img [src]="currentItem" *ngIf="currentItem" />
                  </ion-card-content> 
          </ion-col>
          </ion-row>
         
      </ion-card>

    </div>
    
    <ion-card *ngIf="showReturnList">
        <ion-list>
            <ion-list-header>
              <ion-label>List of Returned entered now ! => {{returnList.length}}</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let item of returnList">
              <h5>{{item.SavedReturnId +' => ' + item.SuborderId + ' (' +item.ReverseLabelId+')'}}</h5>
              <p>{{item.Details}}</p>
              <p>{{item.ReturnType}}</p>
            </ion-item>
          </ion-list>
          </ion-card>
</ion-content>
