<!---Settings TAB lauout-2-->
<ion-content tabPage2>
  <h3 text-center>Return Products</h3>
    <form (ngSubmit)="logForm()">
  <ion-row>
      <ion-col col-8>
        <ion-item>
            <ion-label floating>SubOrder Id *</ion-label>
            <ion-input required type="text" [(ngModel)]="todo.suborderId" name="suborderId"></ion-input>
            <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label> -->
        </ion-item>
      </ion-col>
      <ion-col col-4>
          <ion-item>
          <button ion-button block (click)="scanSubOrder()">Scan</button> 
          </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-8>
          <ion-item>
              <ion-label floating>Reverse Label Id *</ion-label>
              <ion-input type="text" [(ngModel)]="todo.reverseLabel" name="reverseLabel"></ion-input>
              <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label> -->
          </ion-item>
        </ion-col>
        <ion-col col-4>
            <ion-item>
            <button ion-button block (click)="scanReverseLabel()">Scan</button> 
            </ion-item>
        </ion-col>
      </ion-row>
        
        <ion-item>
            <ion-label floating>Return Date</ion-label> 
            <ion-datetime   [placeholder]="todo.returnDate" [(ngModel)]="todo.returnDate" [ngModelOptions]="{standalone: true}"></ion-datetime>
            <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label> -->
        </ion-item>
        <!-- <ion-item> 
            <ion-select placeholder="Select Return Type">
              <ion-select-option value="CR">Correct Return</ion-select-option>
              <ion-select-option value="WP">Wrong Product</ion-select-option>
              <ion-select-option value="IM">Item Missing</ion-select-option>
            </ion-select>
          </ion-item> -->

          <ion-item no-lines margin-bottom >
            <ion-label floating>Select Return Type</ion-label>
            <ion-select [(ngModel)]="todo.returnType" name="options" multiple="false">
                <ion-option value="CR">Correct Return</ion-option>
                <ion-option value="WP">Wrong Product</ion-option>
                <ion-option value="IM">Item Missing</ion-option>
            </ion-select>
        </ion-item>
      <button ion-button type="submit" block (click)="saveReturns()">Update</button>
    </form>
    <div *ngIf="todo.returnType!='CR'">
    <button default-button round ion-button (click)="sendEmail()">Send Email</button>
    <button default-button round ion-button (click)="captureImage()">Capture</button>
    </div>

    <ion-card>
        <ion-card-header>Product Images</ion-card-header>
        <ion-card-content *ngFor="let currentItem of currentImageList">
          <img [src]="currentItem" *ngIf="currentItem" />
        </ion-card-content>
        <img [src]="currentImage" *ngIf="currentItem" />
      </ion-card>
</ion-content>
