<!---Settings TAB lauout-2-->
<ion-content tabPage2>
  <h3 *ngIf="clientDetails.length>0" class="highlightresults" text-center>{{clientDetails}}</h3>
    <form>
  <ion-row>
      <ion-col col-8>
        <ion-item>
            <ion-label floating>SubOrder Id *</ion-label>
            <ion-input  (ionBlur)="getSubOrderIdDetails()" required type="text" [(ngModel)]="todo.suborderId" name="suborderId"></ion-input>
            <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label> -->
        </ion-item>
      </ion-col>
      <ion-col col-4> 
          <button class="scanButton" ion-button block (click)="scanSubOrder()">Scan</button>  
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-8>
          <ion-item>
              <ion-label floating>Reverse Label Id *</ion-label>
              <ion-input type="number" [(ngModel)]="todo.reverseLabel" name="reverseLabel"></ion-input>
              <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label> -->
          </ion-item>
        </ion-col>
        <ion-col col-4> 
            <button class="scanButton" ion-button block (click)="scanReverseLabel()">Scan</button>  
        </ion-col>
        <ion-col col-5>
        <ion-item>
          <ion-label floating>Return Date</ion-label> 
          <ion-datetime   [placeholder]="todo.returnDate" [(ngModel)]="todo.returnDate" [ngModelOptions]="{standalone: true}"></ion-datetime>
          <!-- <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label> -->
      </ion-item>
    </ion-col>
    <ion-col col-7>
      <ion-item>
        <ion-label floating>Select Return Type</ion-label>
        <ion-select [(ngModel)]="todo.returnType" name="options" multiple="false">
            <ion-option value="CR">Correct Return</ion-option>
            <ion-option value="RTO">RTO</ion-option> 
            <ion-option value="WP">Wrong Product</ion-option>
            <ion-option value="IM">Item Missing</ion-option>
        </ion-select>
    </ion-item>
  </ion-col>
      </ion-row>
        
        
        <!-- <ion-item> 
            <ion-select placeholder="Select Return Type">
              <ion-select-option value="CR">Correct Return</ion-select-option>
              <ion-select-option value="WP">Wrong Product</ion-select-option>
              <ion-select-option value="IM">Item Missing</ion-select-option>
            </ion-select>
          </ion-item> -->

      <button ion-button type="submit"  block (click)="saveReturns2()">Save Returns</button>
      <span>{{returnIdResponse}}</span>

    </form>
    <div *ngIf="todo.returnType!='CR' && todo.returnType!='RTO'">
    <button default-button round ion-button (click)="sendEmail()">Send Email</button>
    <button default-button round ion-button (click)="captureImage()">Capture</button>
   

    <ion-card>
        <ion-card-header>Product Images</ion-card-header>
        <ion-row>
          <ion-col col-6 *ngFor="let currentItem of currentImageList">
                <ion-card-content>
                    <img [src]="currentItem" *ngIf="currentItem" />
                  </ion-card-content> 
          </ion-col>
          </ion-row>
         
      </ion-card>
    </div>
</ion-content>
